{{include file="default/Public/header.html"}}
<form name="search" class="filter" method="post" action="{{U url='fblog/contentlist'}}" target="_self" style="background:#FFFFFF;margin-left:165px;;">
<input type="text" name="stitle" value="{{$search.stitle}}" onchange="$('.filter').submit();">
<input type="checkbox" name="spic" {{if $search.spic eq 'on'}} checked="checked" {{/if}} onclick="$('.filter').submit();">缩略图
<select name="snav" onchange="$('.filter').submit();">
<option>请选择栏目</option>
{{$html}}
</select>
<input type="submit" name="do_search" value="搜索">
</form>

<div id="pageCo">
	<div class="listForm">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
			     {{if $data.info|@count eq 0}}
				对不起 ，没有该搜索结果！！！
				{{else}}
                    <th width="10px"></th>
			        <th width="500px">文章标题</th>
			        <th width="200px">添加时间</th>
					{{/if}}
				</tr>
			</thead>
			<tbody> 
		
				<from method="post" action="__APP__">
				{{foreach from=$data.info item=v}}
				<tr>
				<td width="10px"><input type="radio" id="selectradio" name="selectid" onclick="check(this);" value="{{$v.cid}}"></td>
				<td width="500px">{{$v.title|truncate:"30":"..."}}</td>
				<td width="200px">{{'Y-m-d H:i:s'|date:$v.create_time}}</td></tr>
				{{/foreach}}
				</from>
			</tbody>
		</table>	
	</div>	
	<div class="pageList">
		{{$data.pages}}
		<ul class="clearit"></ul> 
	</div>	
</div>


<script src="{{$smarty.const._PUBLIC_}}js/jquery.cookie.js" type="text/javascript"></script>
<script>
function check(thiscid) {
    $.cookie("blogcid",null);
	$.cookie("blogcid",thiscid.value);
    //location.replace(document.referrer);	
	parent.mainFrame.location.reload();
	self.parent.JqueryDialog.Close();
}
</script>
{{include file="default/Public/footer.html"}}