@charset "utf-8";

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dd,dt
	{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #E9EFE8;
	color: #666;
	font-size: 12px;
	font-family: Verdana, "宋体", Arial, Sans;
	height: 100%;
	width: 100%;
}

ul,ol,li,dl,dd,dt {
	list-style-type: none;
}

select,input,img,select,button {
	vertical-align: middle;
	font-size: 12px
}

a {
	text-decoration: none;
	color: #666
}

a:link {
	color: #666;
}

a:hover,a:active,a:focus {
	color: #FF6600;
}

.clearit {
	clear: both;
}

.b {
	font-weight: bold
}

.red {
	color: #ee0000
}

.orange {
	color: #ff6c00
}

.font14 {
	font-size: 14px
}

.pageList {
	height: 20px;
	padding: 15px 15px 10px 15px;
	margin-top: 10px
}

.pageList ul.l {
	float: left
}

.pageList ul.r {
	float: right
}

.pageList ul.r li {
	float: left;
	margin-left: 5px
}

.pageList a {
	display: block;
	float: left;
	line-height: 19px;
	padding: 0px 6px;
	background: #95999E;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif
}

.pageList a:hover {
	background: #76B043
}

.pageList a.selected {
	background: #76B043
}

#wrapper {
	width: 910px;
	margin: 0 auto;
	background: #fff;
	padding: 15px 25px 0px 25px
}

#header {
	height: 75px;
}

#header .logo {
	width: 325px;
	margin-top: 8px;
	float: left
}

#header .topR {
	float: right;
	padding-right: 2px
}

#header .topR li {
	text-align: right;
	padding: 5px 0px
}

#header .topR li a {
	background: url(../images/icon1.gif) no-repeat;
	padding-left: 18px;
	line-height: 16px
}

#header .topR li a:hover {
	text-decoration: underline
}

#header .topR li input {
	background: #E8E8E8;
	border-top: 1px #CDCDCD solid;
	border-left: 1px #CDCDCD solid;
	border-bottom: 1px #E8E8E8 solid;
	border-right: 1px #E8E8E8 solid;
	height: 21px;
	line-height: 21px;
	width: 160px;
	padding: 0px 5px;
	color: #aaa;
	margin-right: 5px
}

#header .topR li input.over {
	background: #F4F8E1;
	border: 1px #B4D333 solid;
	color: #609F29
}

#header .topR li button {
	background: url(../images/btn1.gif) no-repeat;
	border: 0px;
	width: 50px;
	height: 23px;
	cursor: pointer
}

#header .topR li button.over {
	background-position: 0px -23px
}

#nav {
	height: 50px;
}

#nav ul li {
	height: 45px;
	border-right: 1px #fff solid;
	background: url(../images/nav_bg.gif) repeat-x left bottom;
	float: left;
	display: inline;
	position: relative
}

#nav ul li a {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #7C7F85;
	color: #fff;
	width: 90px;
	font-weight: bold
}

#nav ul li a.selected {
	background: url(../images/nav_on_bg.gif) no-repeat #75B03F;
}

#nav ul li div {
	position: absolute;
	z-index: 100;
	top: 0px;
	display: inline-block;
	opacity: 0;
	filter: Alpha(opacity = 0);
}

#nav ul li div a {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #B4D333;
	color: #fff;
	width: 90px;
	font-weight: bold
}

#banner {
	
}

#index {
	padding: 10px 0px
}

.indexLeft {
	width: 660px;
	float: left;
}

.indexLeft .partA {
	width: 268px;
	float: left
}

.indexLeft .partB {
	width: 362px;
	margin-left: 15px;
	float: left;
}

.indexLeft .partB h2 {
	background: url(../images/index_t1.gif) no-repeat;
	height: 27px;
	font-size: 12px;
	font-weight: normal; *
	overflow: hidden
}

.indexLeft .partB h2 a {
	display: block;
	float: left;
	color: #609F29;
	line-height: 27px;
	padding: 0px 10px;
}

.indexLeft .partB h2 a.selected {
	background: url(../images/index_t1_on.gif) no-repeat;
	position: relative;
	top: -2px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #FF6600;
}

.indexLeft .partB div {
	border: 1px #A3E178 solid;
	padding: 10px;
	height: 151px;
}

.indexLeft .partB div .firstNews {
	height: 80px;
	background: url(../images/dot.gif) repeat-x 0 bottom
}

.indexLeft .partB div .firstNews .pic {
	width: 80px;
	height: 60px;
	padding: 3px;
	border: 1px #ddd solid;
	float: left
}

.indexLeft .partB div .firstNews .text {
	width: 240px;
	float: left;
	margin-left: 10px
}

.indexLeft .partB div .firstNews .text a {
	color: #609F29;
	text-decoration: underline;
	font-weight: bold;
	background: url(../images/icon2.gif) no-repeat 0px 4px;
	padding-left: 10px
}

.indexLeft .partB div .firstNews .text a:hover {
	text-decoration: none
}

.indexLeft .partB div .firstNews .text p {
	color: #888;
	margin-top: 5px;
	line-height: 18px
}

.indexLeft .partB div .firstNews .text p a {
	font-weight: normal;
	background: none;
	text-decoration: none
}

.indexLeft .partB div .firstNews .text p a:hover {
	text-decoration: underline
}

.indexLeft .partB div .list {
	padding: 10px 0px;
	height: 49px;
	overflow: hidden
}

.indexLeft .partB div .list li {
	height: 21px;
}

.indexLeft .partB div .list li a {
	margin-left: 5px
}

.indexLeft .partC {
	margin-top: 10px;
	width: 645px;
}

.indexLeft .partD {
	margin-top: 10px;
	width: 645px;
}

.indexLeft .partD h2 {
	background: url(../images/index_t2.gif) no-repeat;
	height: 31px;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	padding: 0px 15px;
	line-height: 31px
}

.indexLeft .partD h2 a.more {
	color: #609F29
}

.indexLeft .partD h2 a.more:hover {
	text-decoration: underline
}

.indexLeft .partD h2 span {
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff
}

.indexLeft .partD .wpwplist {
	overflow: hidden;
	width: 643px;
	border: 1px #E5E5E5 solid;
	border-top: 0px;
	position: relative;
}

.indexLeft .partD .wplist {
	overflow: hidden;
	position: relative;
	width: 5000px;
}

.indexLeft .partD .wplist ul {
	position: relative;
	float: left;
	display: inline;
}

.indexLeft .partD ul {
	height: 159px;
	padding: 15px 0 10px 8px;
	overflow: hidden;
}

.indexLeft .partD ul li {
	width: 155px;
	float: left;
	display: inline;
	text-align: center;
	position: relative;
}

.indexLeft .partD ul li img {
	width: 133px;
	padding: 3px;
	border: 1px #eee solid
}

.indexLeft .partD ul li p {
	margin-top: 10px;
	line-height: 18px
}

.indexRight {
	width: 234px;
	float: left;
	background: #D9E999;
	padding: 8px
}

.indexRight .partA {
	background: #fff;
	padding: 7px 10px
}

.indexRight .partA h2 {
	font-size: 14px;
	border-bottom: 1px #e5e5e5 solid;
	height: 22px
}

.indexRight .partA .text {
	line-height: 19px;
	padding: 8px 0px
}

.indexRight .partA .text img {
	float: left;
	margin-right: 8px
}

.indexRight .partA .text a {
	color: #609F29;
	margin-left: 5px
}

.indexRight .partA .text a:hover {
	text-decoration: underline
}

.indexRight .partB {
	background: #fff;
	margin-top: 2px;
	padding: 10px
}

.indexRight .partB .tel {
	background: url(../images/icon4.gif) no-repeat 0px 3px;
	padding-left: 40px;
	height: 45px
}

.indexRight .partB .tel span {
	display: block;
	font-size: 19px;
	color: #ff6600;
	font-family: Georgia, "Times New Roman", Times, serif
}

.indexRight .partB .online {
	height: 25px
}

.indexRight .partB .online .a1 {
	background: url(../images/online_btn.gif) no-repeat;
	width: 81px;
	height: 23px;
	display: block;
	float: left
}

.indexRight .partB .online .a1:hover {
	background-position: 0px -23px
}

.indexRight .partB .online .a2 {
	background: url(../images/online_btn.gif) no-repeat 0px -46px;
	width: 81px;
	height: 23px;
	display: block;
	float: left;
	margin-left: 15px
}

.indexRight .partB .online .a2:hover {
	background-position: 0px -69px
}

.indexRight .partC {
	background: #fff;
	margin-top: 8px;
	padding: 10px
}

.friendLink {
	background: #A2A5A8;
	height: 39px;
	margin-top: 10px
}

.friendLink ul li {
	float: left;
	line-height: 39px;
	margin-right: 15px
}

.friendLink ul li span {
	display: block;
	width: 78px;
	height: 39px;
	background: url(../images/friendLink_bg.gif) no-repeat;
	line-height: 39px;
	text-align: center;
	color: #fff
}

.friendLink ul li a {
	color: #fff
}

.friendLink ul li a:hover {
	text-decoration: underline;
	color: #D1EF56
}

#footer {
	height: 100px
}

#footer .partA {
	height: 23px;
	background: url(../images/footer_bg.gif) repeat-x;
	padding: 10px 20px 0px 20px;
	color: #fff
}

#footer .partA .left {
	float: left;
	font-family: "PMingLiU";
	font-size: 11px;
	padding-top: 3px;
	background: url(../images/logo2.gif) no-repeat;
	padding-left: 25px;
	height: 27px
}

#footer .partA .right {
	float: right
}

#footer .partA .right a {
	color: #fff;
	margin: 0px 5px
}

#footer .partA .right a:hover {
	color: #D1EF56;
	text-decoration: underline;
}

#footer .partB {
	padding-top: 10px;
	padding-left: 20px
}

#footer .partB span {
	font-size: 11px;
	margin-right: 10px
}

#footer .partB span a {
	color: #76B043;
	text-decoration: underline;
}

#footer .partB span a:hover {
	text-decoration: none
}

#page {
	padding: 0px 0px 20px 0px
}

#page .banner {
	
}

#page .pagePo {
	background: #F4F8E1;
	padding: 8px 0px 10px 35px;
	background: url(../images/icon14.gif) no-repeat left 12px;
	border-bottom: 1px #e5e5e5 solid
}

#page .pageLeft {
	width: 705px;
	float: left;
	margin-right: 25px;
	margin-top: 15px
}

#page .pageRight {
	width: 180px;
	float: left;
}

#page .pageRight .subMenu {
	background: #F4F8E1;
	padding: 10px 20px 50px 20px;
	border: 1px #B4D333 solid;
	margin-top: 15px
}

#page .pageRight .subMenu h2 {
	line-height: 30px;
	font-size: 14px;
	color: #609F29;
	background: url(../images/icon6.gif) no-repeat 0px 5px;
	padding-left: 30px;
	border-bottom: 1px #B4D333 solid
}

#page .pageRight .subMenu li {
	padding: 10px 0px;
	background: url(../images/dot.gif) repeat-x left bottom
}

#page .pageRight .subMenu li a {
	background: url(../images/icon5.gif) no-repeat 0px 2px;
	padding-left: 15px
}

#page .pageRight .subMenu li.s {
	padding: 10px 15px
}

#page .pageRight .subMenu li.s a {
	background: url(../images/icon7.gif) no-repeat 0px 2px;
	padding-left: 15px
}

.pageContent {
	line-height: 23px;
	padding: 10px 0px
}

.pageContent p {
	margin: 10px 0px
}

.about {
	
}

.about ul li {
	width: 350px;
	float: left;
	margin: 5px 0 20px 0px
}

.about ul li .pic {
	width: 120px;
	float: left
}

.about ul li .pic img {
	padding: 3px;
	border: 1px #e5e5e5 solid
}

.about ul li .text {
	width: 210px;
	float: left;
}

.about ul li .text .title a {
	font-size: 13px;
	font-weight: bold;
	color: #609F29
}

.about ul li .text .title a:hover {
	text-decoration: underline
}

.about ul li .text .info {
	padding: 5px 0px;
	line-height: 18px;
	color: #7d7d7d
}

.about ul li .text .more a {
	color: #609F29;
	background: url(../images/icon2.gif) no-repeat 0px 3px;
	padding-left: 10px
}

.about ul li .text .more a:hover {
	text-decoration: underline
}

.news {
	
}

.news .newsLeft {
	width: 635px;
	float: left;
	margin-right: 15px;
	margin-top: 15px
}

.news .newsLeft .partA {
	margin-bottom: 15px;
	border: 1px #E5E5E5 solid;
	height: 220px
}

.news .newsLeft .partA h2 {
	border-bottom: 1px #E5E5E5 solid;
	font-size: 14px;
	line-height: 16px;
	background: url(../images/news_t_bg.gif) repeat-x;
	padding: 7px 15px;
	color: #4DA32F;
	height: 16px;
	overflow: hidden
}

.news .newsLeft .partA h2 span {
	background: url(../images/icon11.gif) no-repeat;
	padding-left: 10px;
	float: left
}

.news .newsLeft .partA h2 a.more {
	float: right;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/icon2.gif) no-repeat 0px 5px;
	padding-left: 11px;
	margin-top: 2px
}

.news .newsLeft .partA ul.pic {
	width: 190px;
	float: left;
	padding: 10px
}

.news .newsLeft .partA ul.pic img {
	padding: 3px;
	border: 1px #eee solid
}

.news .newsLeft .partA ul.pic p {
	text-align: center;
	margin-top: 5px
}

.news .newsLeft .partA ul.list {
	padding: 10px 0px;
	width: 405px;
	float: left;
}

.news .newsLeft .partA ul.list li {
	padding: 6px 0px;
	text-align: right;
	color: #888
}

.news .newsLeft .partA ul.list li a {
	float: left;
	background: url(../images/icon10.gif) no-repeat 0px 6px;
	padding-left: 10px;
	color: #444;
	font-size: 13px
}

.news .newsLeft .partA ul.list li a:hover {
	text-decoration: underline;
	color: #ff6600
}

.news .newsLeft .partB {
	border: 1px #E5E5E5 solid;
	padding-bottom: 10px;
	height: 170px
}

.news .newsLeft .partB h2 {
	border-bottom: 1px #E5E5E5 solid;
	font-size: 14px;
	line-height: 16px;
	background: url(../images/news_t_bg.gif) repeat-x;
	padding: 7px 15px;
	color: #4DA32F;
	height: 16px;
	overflow: hidden
}

.news .newsLeft .partB h2 .more {
	float: right;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/icon2.gif) no-repeat 0px 5px;
	padding-left: 11px;
	margin-top: 2px
}

.news .newsLeft .partB h2 span {
	background: url(../images/icon11.gif) no-repeat;
	padding-left: 10px;
	float: left
}

.news .newsLeft .partB h2 div.tabs {
	float: left;
	margin-left: 10px;
	position: relative;
	margin-top: -2px
}

.news .newsLeft .partB h2 div.tabs li {
	float: left;
	margin-left: 2px;
}

.news .newsLeft .partB h2 div.tabs li a {
	font-size: 12px;
	font-weight: normal;
	display: block;
	background: #F3FFEB;
	padding: 4px 10px;
	border: 1px #E5E5E5 solid;
	margin-bottom: 2px;
}

.news .newsLeft .partB h2 div.tabs li a.selected {
	background: #fff;
	border-bottom: 1px #fff solid;
	margin-top: 0px;
	color: #4DA32F;
	font-weight: bold
}

.news .newsLeft .partB ul.list {
	margin-top: 10px;
}

.news .newsLeft .partB ul.list li {
	width: 285px;
	margin-left: 15px;
	padding: 5px 0px;
	float: left;
	overflow: hidden;
	height: 14px;
	display: inline
}

.news .newsLeft .partB ul.list li a {
	background: url(../images/icon10.gif) no-repeat 0px 6px;
	padding-left: 10px;
	color: #444;
	font-size: 13px
}

.news .newsLeft .partB ul.list li a:hover {
	text-decoration: underline;
	color: #ff6600
}

.news .newsRight {
	width: 244px;
	float: left;
	margin-top: 15px;
	background: #D9E999;
	padding: 8px
}

.news .newsRight .partA {
	background: #fff;
	padding: 0px 15px 15px 15px;
}

.news .newsRight .partA h2 {
	font-size: 14px;
	line-height: 16px;
	background: url(../images/icon3.gif) no-repeat 0px 10px;
	padding: 7px 10px;
	border-bottom: 1px #D3ECC1 solid;
	color: #4DA32F
}

.news .newsRight .partA a {
	color: #444;
	margin-left: 5px;
}

.news .newsRight .partA a:hover {
	color: #ff6600;
	text-decoration: underline
}

.news .newsRight .partA .firstNews {
	height: 80px;
	overflow: hidden;
	margin-top: 12px;
}

.news .newsRight .partA .firstNews .title {
	height: 20px;
	width: 210px;
	padding: 3px 0px
}

.news .newsRight .partA .firstNews .title a {
	font-weight: bold
}

.news .newsRight .partA .firstNews .pic {
	width: 80px;
	float: left;
	background: #ccc
}

.news .newsRight .partA .firstNews .pic a {
	margin-left: 0px
}

.news .newsRight .partA .firstNews .text {
	width: 120px;
	float: left;
	margin-left: 10px;
	line-height: 18px;
	color: #888
}

.news .newsRight .partA .list {
	padding: 10px 0px
}

.news .newsRight .partA .list li {
	padding: 3px 0px
}

.news .newsRight .partB {
	background: #fff;
	padding: 0px 15px 15px 15px;
	margin-top: 8px
}

.news .newsRight .partB h2 {
	font-size: 14px;
	line-height: 16px;
	background: url(../images/icon3.gif) no-repeat 0px 10px;
	padding: 7px 10px;
	border-bottom: 1px #D3ECC1 solid;
	color: #4DA32F;
	margin-bottom: 10px
}

.news .newsRight .partB .list {
	background: url(../images/num.gif) no-repeat 0px 6px;
}

.news .newsRight .partB .list li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding-left: 20px
}

.news .newsRight .partB .list li a {
	color: #444
}

.news .newsRight .partB .list li a:hover {
	color: #ff6600;
	text-decoration: underline
}

.news .newsRight .partB .clearit {
	height: 10px
}

.newsA {
	
}

.newsA .firstNews {
	height: 145px;
	padding: 5px 0px;
	border-bottom: 1px #B4D333 solid
}

.newsA .firstNews .pic {
	width: 180px;
	float: left
}

.newsA .firstNews .text {
	width: 500px;
	float: left;
	margin-left: 25px;
	line-height: 19px;
	color: #7d7d7d
}

.newsA .firstNews .text a {
	color: #609F29;
	text-decoration: underline;
	background: url(../images/icon3.gif) no-repeat 0px 4px;
	padding-left: 12px;
	font-size: 13px;
	font-weight: bold
}

.newsA .firstNews .text a:hover {
	text-decoration: none
}

.newsA .firstNews .text p {
	padding-left: 12px;
	margin-top: 8px
}

.newsA .list {
	padding: 0px 0px
}

.newsA .list li {
	padding: 10px 0px;
	text-align: right;
	background: url(../images/dot.gif) repeat-x 0px bottom;
	font-size: 11px;
	color: #888
}

.newsA .list li a {
	float: left;
	font-size: 12px;
	padding-left: 15px;
	background: url(../images/icon7.gif) no-repeat 0px 2px
}

.newsB {
	
}

.newsB .list {
	
}

.newsB .list li {
	background: url(../images/dot.gif) repeat-x 0px bottom;
	height: 110px;
	margin-top: 20px
}

.newsB .list li .pic {
	width: 120px;
	float: left
}

.newsB .list li .text {
	width: 555px;
	float: left;
	margin-left: 25px;
	line-height: 19px;
	color: #7d7d7d
}

.newsB .list li .text p {
	margin-top: 5px
}

.newsB .list li .text a {
	color: #333;
	background: url(../images/icon3.gif) no-repeat 0px 4px;
	padding-left: 12px;
	font-size: 13px;
	font-weight: bold
}

.newsB .list li .text a:hover {
	text-decoration: underline;
	color: #609F29
}

.newsB .list li .text p a {
	background: none;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #609F29
}

.newsB .list li .text p a:hover {
	text-decoration: underline
}

.newsView {
	padding: 10px 0px
}

.newsView h1 {
	text-align: center;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 10px 0px;
	color: #609F29
}

.newsView p.info {
	line-height: 29px;
	text-align: center;
	background: #f8f8f8;
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid
}

.newsView .pageContent {
	font-size: 14px;
	line-height: 26px;
	color: #555
}

.pro {
	
}

.pro ul.list li {
	float: left;
	width: 350px;
	margin: 10px 0px 20px 0px;
	height: 110px
}

.pro ul.list li .pic {
	width: 141px;
	float: left
}

.pro ul.list li .pic img {
	padding: 3px;
	border: 1px #eee solid
}

.pro ul.list li .text {
	float: left;
	padding: 0px 15px 0px 10px;
	width: 180px;
}

.pro ul.list li .text h2 {
	margin-bottom: 10px
}

.pro ul.list li .text h2 a {
	color: #333;
	background: url(../images/icon3.gif) no-repeat 0px 4px;
	padding-left: 12px;
	font-size: 14px;
	font-weight: bold
}

.pro ul.list li .text h2 a:hover {
	text-decoration: underline;
	color: #609F29
}

.pro ul.list li .text p {
	line-height: 16px;
	padding: 3px 0px;
	color: #7d7d7d;
	padding-left: 12px
}

.proA {
	
}

.proA ul.list li {
	float: left;
	width: 350px;
	margin: 10px 0px 20px 0px;
}

.proA ul.list li .pic {
	width: 141px;
	float: left
}

.proA ul.list li .pic img {
	padding: 3px;
	border: 1px #eee solid
}

.proA ul.list li .text {
	float: left;
	padding: 0px 15px 0px 10px;
	width: 180px;
}

.proA ul.list li .text a {
	color: #333;
	background: url(../images/icon3.gif) no-repeat 0px 4px;
	padding-left: 12px;
	font-size: 13px;
	font-weight: bold
}

.proA ul.list li .text a:hover {
	text-decoration: underline;
	color: #609F29
}

.proA ul.list li .text p {
	margin-top: 10px;
	line-height: 18px;
	color: #7d7d7d
}

.proA .pageList {
	background: url(../images/dot.gif) repeat-x 0px top;
}

.proB {
	
}

.proB ul.list li {
	float: left;
	width: 175px;
	margin: 10px 0px 20px 0px;
}

.proB ul.list li .pic {
	
}

.proB ul.list li .pic img {
	padding: 3px;
	border: 1px #eee solid
}

.proB ul.list li .text {
	margin-top: 10px;
	width: 140px;
	text-align: center
}

.proB ul.list li .text a {
	color: #333;
}

.proB ul.list li .text a:hover {
	text-decoration: underline;
	color: #609F29
}

.proB ul.list li .text p {
	margin-top: 10px;
	line-height: 18px;
	color: #7d7d7d
}

.proB .pageList {
	background: url(../images/dot.gif) repeat-x 0px top;
}

.download {
	
}

.download .list {
	
}

.download .list li {
	clear: both;
	padding: 10px 0px;
	height: 14px
}

.download .list li.grayBg {
	background: #f8f8f8
}

.download .list h5 {
	font-size: 12px;
	color: #609F29;
	background: #F4F8E1;
	height: 16px;
	padding: 8px 0px;
	border-bottom: 1px #B4D333 solid;
	border-top: 1px #B4D333 solid
}

.download .list span {
	display: block;
	float: left;
	padding: 0px 8px;
}

.download .list span a {
	color: #609F29
}

.download .list span a:hover {
	text-decoration: underline;
	color: #FF6600
}

.download .list span .btn {
	background: url(../images/icon9.gif) no-repeat;
	width: 12px;
	height: 11px;
	margin: auto;
	display: block
}

.download .list span .btn:hover {
	background-position: 0px -11px
}

.download .list .one {
	width: 10%;
}

.download .list .two {
	width: 51%;
	overflow: hidden
}

.download .list .three {
	width: 10%
}

.download .list .four {
	width: 8%
}

.download .list .five {
	width: 8%;
	text-align: center
}

.download .pageList {
	background: url(../images/dot.gif) repeat-x
}

.downloadView {
	
}

.downloadView .partA {
	padding: 20px 0px
}

.downloadView .partA .pic {
	width: 300px;
	float: left;
	text-align: center
}

.downloadView .partA .info {
	width: 565px;
	float: left;
	background: #F4F8E1;
	padding: 15px 20px;
	border: 1px #B4D333 solid
}

.downloadView .partA .info h1 {
	font-family: "微软雅黑";
	font-weight: normal;
	color: #609F29;
	font-size: 18px
}

.downloadView .partA .info li {
	padding: 5px 0px
}

.downloadView .partA .info li b {
	color: #222
}

.downloadView .partB {
	background: url(../images/dot.gif) repeat-x;
	padding: 15px 0px;
	line-height: 24px;
	font-size: 14px
}

.downloadView .partB p {
	margin: 10px 0px
}

.photo {
	
}

.photo .photoLeft {
	width: 650px;
	float: left
}

.photo .photoLeft .partA {
	margin-top: 15px;
	background: #f8f8f8;
	border: 1px #e5e5e5 solid;
	height: 300px;
	padding: 10px;
	width: 613px;
	overflow: hidden
}

.photo .photoLeft .partA .bImg {
	width: 520px;
	height: 290px;
	overflow: hidden;
	float: left;
	border: 2px #fff solid
}

.photo .photoLeft .partA .bImg li {
	position: relative;
}

.photo .photoLeft .partA .bImg li img {
	width: 520px;
	height: 290px;
}

.photo .photoLeft .partA .bImg li p {
	padding: 15px 20px;
	background: #000;
	position: absolute;
	bottom: 0px;
	left: 2px;
	width: 480px;
	color: #999;
	line-height: 18px;
	opacity: 0.7;
	filter: Alpha(opacity = 70);
}

.photo .photoLeft .partA .bImg li p a {
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #fff
}

.photo .photoLeft .partA .bImg li p a:hover {
	text-decoration: underline
}

.photo .photoLeft .partA .sImg {
	width: 84px;
	float: left;
	margin-left: 5px;
}

.photo .photoLeft .partA .sImg li {
	margin-bottom: 3px
}

.photo .photoLeft .partA .sImg li a {
	display: block;
	padding: 4px 5px 4px 10px;
	background: url(../images/sImg_on.gif) no-repeat 0px -56px
}

.photo .photoLeft .partA .sImg li a img {
	opacity: 0.8;
	filter: Alpha(opacity = 80);
}

.photo .photoLeft .partA .sImg li.activeSlide a {
	background-position: 0px 0px
}

.photo .photoLeft .partA .sImg li.activeSlide a img {
	opacity: 1;
	filter: Alpha(opacity = 100);
}

.photo .photoLeft .partA .sImg li a:hover img {
	opacity: 1;
	filter: Alpha(opacity = 100);
}

.photo .photoLeft .partA .sImg li img {
	width: 70px;
	height: 48px;
}

.photo .photoLeft .partB {
	margin-top: 15px;
}

.photo .photoLeft .partB div {
	width: 308px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px #eee solid;
}

.photo .photoLeft .partB div h2 {
	font-size: 12px;
	background: url(../images/news_t_bg.gif) repeat-x;
	height: 30px;
	line-height: 30px
}

.photo .photoLeft .partB div h2 span {
	float: left;
	padding-left: 25px;
	color: #4DA32F;
	font-size: 14px;
	background: url(../images/icon11.gif) no-repeat 13px 8px;
}

.photo .photoLeft .partB div h2 a.more {
	float: right;
	font-weight: normal;
	margin-right: 10px;
	background: url(../images/icon2.gif) no-repeat 0px 10px;
	padding-left: 10px
}

.photo .photoLeft .partB div ul {
	padding: 10px 10px 10px 0px;
	height: 130px;
}

.photo .photoLeft .partB div ul li {
	float: left;
	margin-left: 14px
}

.photo .photoLeft .partB div ul li img {
	width: 133px;
	height: 100px
}

.photo .photoLeft .partB div ul li p {
	text-align: center;
	padding: 6px 0px
}

.photo .photoRight {
	width: 244px;
	float: left;
	margin-top: 15px;
	background: #D9E999;
	padding: 8px
}

.photo .photoRight .partA {
	background: #fff;
	padding: 0px 15px 15px 15px
}

.photo .photoRight .partA h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.photo .photoRight .partA ul.list {
	background: url(../images/num.gif) no-repeat 0px 7px
}

.photo .photoRight .partA ul.list li {
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	width: 100px;
	float: left
}

.photo .photoRight .partA ul.list li a {
	padding-left: 12px;
	background: url(../images/icon2.gif) no-repeat 0px 4px;
	color: #444;
	font-weight: bold;
	font-size: 14px
}

.photo .photoRight .partA ul.list li a:hover {
	color: #4DA32F;
	text-decoration: underline
}

.photo .photoRight .partB {
	background: #fff;
	padding: 0px 15px 15px 15px;
	margin-top: 8px
}

.photo .photoRight .partB h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.photo .photoRight .partB ul.list {
	background: url(../images/num.gif) no-repeat 0px 7px
}

.photo .photoRight .partB ul.list li {
	height: 24px;
	overflow: hidden;
	line-height: 24px
}

.photo .photoRight .partB ul.list li a {
	padding-left: 20px;
}

.photo .photoRight .partC {
	margin-top: 8px;
	background: #fff;
	padding: 0px 15px 15px 15px
}

.photo .photoRight .partC h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.photo .photoRight .partC ul.pic {
	height: 80px;
	background: url(../images/dot.gif) repeat-x 0px bottom
}

.photo .photoRight .partC ul.pic li {
	width: 88px;
	height: 68px;
	float: left;
	overflow: hidden;
	margin-right: 15px
}

.photo .photoRight .partC ul.pic li img {
	padding: 3px;
	border: 1px #eee solid;
	width: 80px;
	height: 60px
}

.photo .photoRight .partC ul.list {
	padding: 10px 0px
}

.photo .photoRight .partC ul.list li {
	height: 21px;
	overflow: hidden;
	line-height: 21px
}

.photo .photoRight .partC ul.list li a {
	padding-left: 15px;
	background: url(../images/icon7.gif) no-repeat
}

.photoList {
	margin-top: 15px;
}

.photoList .list {
	
}

.photoList .list li {
	width: 200px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px
}

.photoList .list li a img {
	padding: 4px;
	border: 1px #eee solid;
	width: 180px;
	height: 135px
}

.photoList .list li p {
	width: 190px;
	text-align: center;
	padding: 5px 0px
}

.photoList .pageList {
	background: url(../images/dot.gif) repeat-x 0 top;
	margin-right: 30px
}

.photoView {
	margin-top: 15px;
	width: 635px
}

.photoView h1 {
	text-align: center;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 10px 0px;
	color: #609F29
}

.photoView p.info {
	line-height: 29px;
	text-align: center;
	background: #f8f8f8;
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid
}

.photoView .pics {
	margin: 15px 0;
	border: 1px #e5e5e5 solid;
	padding: 20px
}

.photoView .pics .bImg {
	text-align: center;
	cursor: pointer;
	position: relative;
}

.photoView .pics .sImg {
	height: 90px;
	overflow: hidden;
	margin-top: 20px
}

.photoView .pics .arrowLeft {
	float: left;
	background: url(../images/arrow.gif) no-repeat;
	width: 15px;
	height: 55px;
	margin-top: 10px;
	cursor: pointer
}

.photoView .pics .wplist {
	width: 520px;
	margin-left: 21px;
	position: relative;
	float: left;
	display: inline;
	overflow: hidden;
}

.photoView .pics .list {
	margin-right: 10px;
	width: 1000px;
	position: relative;
	overflow: hidden;
}

.photoView .pics .list li {
	float: left;
	background: url(../images/sImg_bg.gif) no-repeat;
	width: 84px;
	height: 70px;
	margin-right: 20px;
	padding: 10px 0px 0px 4px
}

.photoView .pics .list li.selected {
	background-position: 0px -80px
}

.photoView .pics .list li p {
	font-size: 11px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif
}

.photoView .pics .arrowRight {
	float: right;
	background: url(../images/arrow.gif) no-repeat 0px -55px;
	width: 15px;
	height: 55px;
	margin-top: 10px;
	cursor: pointer
}

.photoView .pageContent {
	font-size: 14px;
	line-height: 26px;
	color: #555
}

.video {
	
}

.video .videoLeft {
	width: 650px;
	float: left
}

.video .videoLeft .partA {
	margin-top: 15px;
	padding: 12px;
	border: 1px #e5e5e5 solid;
	margin-right: 15px
}

.video .videoLeft .partA .bImg {
	width: 333px;
	height: 250px;
	float: left
}

.video .videoLeft .partA .sImg {
	width: 265px;
	float: left;
	margin-left: 10px;
	border-top: 1px #e5e5e5 solid
}

.video .videoLeft .partA .sImg li {
	height: 62px;
	border: 1px #e5e5e5 solid;
	border-top: 0px;
	background: url(../images/bg4.gif) repeat-x;
	padding: 10px 10px;
	cursor: pointer
}

.video .videoLeft .partA .sImg li .pic {
	width: 78px;
	float: left
}

.video .videoLeft .partA .sImg li .pic img {
	padding: 3px;
	border: 1px #ccc solid;
	background: #fff
}

.video .videoLeft .partA .sImg li .text {
	width: 155px;
	float: left;
	margin-left: 10px
}

.video .videoLeft .partA .sImg li .text a {
	color: #333;
	line-height: 18px
}

.video .videoLeft .partA .sImg li a:hover {
	color: #ff6600
}

.video .videoLeft .partA .sImg li .text p {
	color: #888;
	margin-top: 5px
}

.video .videoLeft .partA .sImg li.activeSlide {
	border: 1px #B4D333 solid;
	background: #F4F8E1
}

.video .videoLeft .partA .sImg li.activeSlide a {
	color: #28A000
}

.video .videoLeft .partA .sImg li.activeSlide a:hover {
	color: #ff6600
}

.video .videoLeft .partB {
	margin-top: 15px;
}

.video .videoLeft .partB div {
	width: 308px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px #eee solid;
}

.video .videoLeft .partB div h2 {
	font-size: 12px;
	background: url(../images/news_t_bg.gif) repeat-x;
	height: 30px;
	line-height: 30px
}

.video .videoLeft .partB div h2 span {
	float: left;
	padding-left: 25px;
	color: #4DA32F;
	font-size: 14px;
	background: url(../images/icon11.gif) no-repeat 13px 8px;
}

.video .videoLeft .partB div h2 a.more {
	float: right;
	font-weight: normal;
	margin-right: 10px;
	background: url(../images/icon2.gif) no-repeat 0px 10px;
	padding-left: 10px
}

.video .videoLeft .partB div ul {
	padding: 10px 10px 10px 0px;
	height: 110px;
}

.video .videoLeft .partB div ul li.pic {
	float: left;
	margin-left: 8px;
	position: relative;
	width: 150px
}

.video .videoLeft .partB div ul li.pic img {
	width: 133px;
	height: 100px;
	padding: 3px;
	border: 1px #eee solid;
}

.video .videoLeft .partB div ul li.pic span {
	display: block;
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
	background: url(../images/video_icon.gif) no-repeat;
	top: 78px;
	left: 10px
}

.video .videoLeft .partB div ul li.list2 {
	width: 140px;
	float: left;
}

.video .videoLeft .partB div ul li.list2 p {
	padding: 4px 0px 4px 22px;
	background: url(../images/icon13.gif) no-repeat 0px 4px
}

.video .videoRight {
	width: 244px;
	float: left;
	margin-top: 15px;
	background: #D9E999;
	padding: 8px
}

.video .videoRight .partA {
	background: #fff;
	padding: 0px 15px 15px 15px
}

.video .videoRight .partA h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.video .videoRight .partA ul.list {
	background: url(../images/num.gif) no-repeat 0px 7px
}

.video .videoRight .partA ul.list li {
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	width: 100px;
	float: left
}

.video .videoRight .partA ul.list li a {
	padding-left: 12px;
	background: url(../images/icon2.gif) no-repeat 0px 4px;
	color: #444;
	font-weight: bold;
	font-size: 14px
}

.video .videoRight .partA ul.list li a:hover {
	color: #4DA32F;
	text-decoration: underline
}

.video .videoRight .partB {
	background: #fff;
	padding: 0px 15px 15px 15px;
	margin-top: 8px
}

.video .videoRight .partB h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.video .videoRight .partB ul.list {
	background: url(../images/num.gif) no-repeat 0px 7px
}

.video .videoRight .partB ul.list li {
	height: 24px;
	overflow: hidden;
	line-height: 24px
}

.video .videoRight .partB ul.list li a {
	padding-left: 20px;
}

.video .videoRight .partC {
	margin-top: 8px;
	background: #fff;
	padding: 0px 15px 15px 15px
}

.video .videoRight .partC h2 {
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px
}

.video .videoRight .partC ul.pic {
	height: 80px;
	background: url(../images/dot.gif) repeat-x 0px bottom
}

.video .videoRight .partC ul.pic li {
	width: 105px;
	height: 68px;
	float: left;
	overflow: hidden;
}

.video .videoRight .partC ul.pic li img {
	padding: 3px;
	border: 1px #eee solid;
	width: 80px;
	height: 60px
}

.video .videoRight .partC ul.list {
	padding: 10px 0px
}

.video .videoRight .partC ul.list li {
	height: 21px;
	overflow: hidden;
	line-height: 21px
}

.video .videoRight .partC ul.list li a {
	padding-left: 23px;
	background: url(../images/icon13.gif) no-repeat 0px 1px
}

.videoList {
	margin-top: 15px;
}

.videoList .list {
	
}

.videoList .list li {
	width: 200px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative
}

.videoList .list li a img {
	padding: 4px;
	border: 1px #eee solid;
	width: 180px;
	height: 135px
}

.videoList .list li p {
	width: 190px;
	margin-top: 5px;
	color: #888
}

.videoList .list li p a {
	color: #609F29
}

.videoList .list li p a:hover {
	text-decoration: underline
}

.videoList .list li span {
	display: block;
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
	background: url(../images/video_icon.gif) no-repeat;
	top: 110px;
	left: 15px
}

.videoList .pageList {
	background: url(../images/dot.gif) repeat-x 0 top;
	margin-right: 30px
}

.videoView {
	margin-top: 15px;
	width: 635px
}

.videoView h1 {
	text-align: center;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 10px 0px;
	color: #609F29
}

.videoView p.info {
	line-height: 29px;
	text-align: center;
	background: #f8f8f8;
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid
}

.videoView .player {
	
}

.videoView .pageContent {
	font-size: 14px;
	line-height: 26px;
	color: #555
}

#mediaPlayer {
	padding: 10px;
	overflow: hidden;
	width: 500px;
	height: 380px;
	margin: auto
}

.guestBook {
	margin-top: 15px
}

.guestBook .partA {
	background: url(../images/icon12.gif) no-repeat 10px -3px #fff;
	padding: 10px 20px 15px 100px;
	border: 4px #D9E999 solid;
	color: #7d7d7d
}

.guestBook .partA p {
	padding: 2px 0px;
	line-height: 19px
}

.guestBook .partA b {
	font-size: 13px;
	color: #609F29
}

.guestBook .partB {
	margin-top: 15px;
	padding-left: 42px
}

.guestBook .partB em {
	color: #ee0000;
}

.guestBook .partB input {
	background: #f8f8f8;
	border-top: 1px #CDCDCD solid;
	border-left: 1px #CDCDCD solid;
	border-bottom: 1px #E8E8E8 solid;
	border-right: 1px #E8E8E8 solid;
	height: 21px;
	line-height: 21px;
	padding: 0px 5px;
	color: #aaa;
	margin-right: 5px
}

.guestBook .partB input.over {
	background-color: #F4F8E1;
	border: 1px #B4D333 solid;
	color: #609F29
}

.guestBook .partB textarea {
	background: #f8f8f8;
	border-top: 1px #CDCDCD solid;
	border-left: 1px #CDCDCD solid;
	border-bottom: 1px #E8E8E8 solid;
	border-right: 1px #E8E8E8 solid;
	height: 21px;
	line-height: 21px;
	padding: 0px 5px;
	color: #aaa;
	margin-right: 5px;
	width: 400px;
	height: 100px;
	overflow: auto;
}

.guestBook .partB textarea.over {
	background: #F4F8E1;
	border: 1px #B4D333 solid;
	color: #609F29
}

.guestBook .partB .submit {
	border: none !important;
	margin-left: 62px;
	border: 0px;
	width: 80px;
	height: 26px;
	background: url(../images/btn2.gif) no-repeat;
	cursor: pointer
}

.guestBook .partB .submit.over {
	background-position: 0px -26px
}

.guestBook .partB label {
	display: block;
	float: left;
}

.guestBook .partB p {
	margin-bottom: 10px;
}

.job {
	
}

.job .list {
	
}

.job .list li {
	clear: both;
	padding: 10px 0px;
	height: 14px
}

.job .list li.grayBg {
	background: #f8f8f8
}

.job .list h5 {
	font-size: 12px;
	color: #609F29;
	background: #F4F8E1;
	height: 16px;
	padding: 8px 0px;
	border-bottom: 1px #B4D333 solid;
	border-top: 1px #B4D333 solid
}

.job .list span {
	display: block;
	float: left;
	padding: 0px 5px
}

.job .list span a {
	text-decoration: underline;
	font-weight: bold
}

.job .list span a:hover {
	text-decoration: none
}

.job .list span .btn {
	background: url(../images/icon9.gif) no-repeat;
	width: 12px;
	height: 11px;
	margin: auto;
	display: block
}

.job .list span .btn:hover {
	background-position: 0px -11px
}

.job .list .one {
	width: 47%;
}

.job .list .two {
	width: 8%;
	overflow: hidden
}

.job .list .three {
	width: 20%
}

.job .list .four {
	width: 5%
}

.job .list .five {
	width: 12%;
	text-align: center
}

.job .pageList {
	background: url(../images/dot.gif) repeat-x
}

.jobView {
	
}

.jobView table {
	width: 100%;
	margin-bottom: 20px
}

.jobView table thead tr td {
	background: url(../images/bg3.gif) no-repeat;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	padding-left: 15px;
	color: #fff;
	font-weight: bold
}

.jobView table tbody tr th {
	background: #eee;
	padding: 8px 0px;
	width: 12%;
	text-align: right;
	padding-right: 1%;
	font-weight: normal;
	color: #222
}

.jobView table tbody tr td {
	width: 37%;
	line-height: 20px;
	padding: 8px 0px;
	padding-left: 1%;
	background: #fafafa
}

.jobView table tfoot tr td {
	background: #F4F8E1;
	padding: 8px 0px 8px 13%
}

.jobView table tfoot tr td a {
	display: block;
	width: 80px;
	height: 26px;
	background: url(../images/btn3.gif) no-repeat;
}

.jobView table tfoot tr td a:hover {
	background-position: 0px -26px
}

.jobSubmit {
	
}

.jobSubmit table {
	width: 100%;
	margin-bottom: 20px
}

.jobSubmit table thead tr td {
	background: url(../images/bg3.gif) no-repeat;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	padding-left: 15px;
	color: #fff;
	font-weight: bold
}

.jobSubmit table tbody tr th {
	background: #eee;
	padding: 8px 0px;
	width: 12%;
	text-align: right;
	padding-right: 1%;
	font-weight: normal;
	color: #222
}

.jobSubmit table tbody tr td {
	width: 37%;
	line-height: 20px;
	padding: 6px 0px;
	padding-left: 1%;
	background: #fafafa
}

.jobSubmit table tbody tr td .input {
	background: #fff;
	border-top: 1px #CDCDCD solid;
	border-left: 1px #CDCDCD solid;
	border-bottom: 1px #E8E8E8 solid;
	border-right: 1px #E8E8E8 solid;
	height: 21px;
	line-height: 21px;
	padding: 0px 5px;
	color: #aaa;
	margin-right: 5px
}

.jobSubmit table tbody tr td .over {
	background: #F4F8E1;
	border: 1px #B4D333 solid;
	color: #609F29
}

.jobSubmit table tbody tr td textarea {
	background: #fff;
	border-top: 1px #CDCDCD solid;
	border-left: 1px #CDCDCD solid;
	border-bottom: 1px #E8E8E8 solid;
	border-right: 1px #E8E8E8 solid;
	height: 70px;
	line-height: 21px;
	padding: 0px 5px;
	color: #aaa;
	margin-right: 5px;
	width: 500px
}

.jobSubmit table tbody tr td textarea.over {
	background: #F4F8E1;
	border: 1px #B4D333 solid;
	color: #609F29
}

.jobSubmit table tfoot tr td {
	background: #F4F8E1;
	padding: 8px 0px 8px 13%
}

.jobSubmit table tfoot tr td a {
	display: block;
	width: 80px;
	height: 26px;
	background: url(../images/btn4.gif) no-repeat;
}

.jobSubmit table tfoot tr td a:hover {
	background-position: 0px -26px
}

ul.register li {
	line-height: 30px;
}

ul.register li label {
	text-align: right;
	width: 50px;
	display: table;
	float: left;
	padding-right: 2px;
}