{{include file="default/Public/header.html"}}
<div id="pageTop">
	<div class="tabs"> 
		<ul>
			<li><a href='{{U url="fask/manage?catid=`$cat.catid`"}}'>管理问答</a></li>
			<li><a href='{{U url="fask/category_manage?catid=`$cat.catid`"}}'>管理问答分类</a></li>
			<li><a href='javascript:void(0);' class="selected" rel="tabsContent1">编辑问答分类</a></li>
		</ul>		
	</div>
</div>
<form method="post" class="validate" id="myform" action="{{U url='fask/category_manage?act=edit&dosubmit=1'}}">
<div id="pageCo">
	<div class="manageForm">
		<div id="messageContainer" style="display:none;">
			<ol></ol>
		</div>
		<table cellpadding="0" cellspacing="0" class="tabcontent" id="tabsContent1">
			<tbody>
				<tr>
			      <th width='150'>名称</th>
			      <td><input type="text" name="info[name]" class="input required" value="{{$data.name}}" style="width:200px" /></td>
			    </tr>
			    <tr>
			      <th width='150'>上级栏目</th>
			      <td><select name="info[parentid]">
							<option value="0">顶级栏目</option>
							{{$categorys_option}}
						</select></td>
			    </tr>
			    <tr>
			      <th width='150'>排序</th>
			      <td>
			      <input type="text" name="info[sort]" class="input" value="{{$data.sort}}" size="4" />
			      </td>
			    </tr>
			    <tr>
			      <th width='150'>是否显示</th>
			      <td><input type="radio" name="info[status]" value="1" class="input" {{if $data.status==1}}checked{{/if}} />是
			      	<input type="radio" name="info[status]" value="0" class="input" {{if $data.status!=1}}checked{{/if}} />否
			      </td>
			    </tr>
			    <tr>
			      <th width='150'>创建时间</th>
			      <td><script language="javascript" src="__ROOT__/admin/public/js/calendar/WdatePicker.js"></script>
		            	<input type="text" name="info[create_time]" class="Wdate input" onFocus="WdatePicker({isShowClear:true,dateFmt:'yyyy-MM-dd HH:mm'})" value="{{'Y-m-d H:i'|date:$data.create_time}}" /></td>
			    </tr>
			</tbody>
			<tfoot>
			    <tr>
			      <th>&nbsp;</th>
			      <td>
			      <input type="hidden" name="forward" value='{{U url="fask/category_manage?catid=`$cat.catid`"}}' />
			      <input type="hidden" name="info[ask_category_id]" value="{{$data.ask_category_id}}" />
                  <label class="btn"><input type="submit" value="添加" class="submit" /></label>
						&nbsp;<label class="btn"><input type="reset" value="重置" class="submit" /></label>
						<input type="hidden" name="catid" value="{{$cat.catid}}" />
						<input type="hidden" name="info[catid]" value="{{$cat.catid}}" />
				  </td>
			    </tr>
				</tfoot>
		</table>
	</div>	
</div>
</form>
{{include file="default/Public/footer.html"}}