{{include file="default/Public/header.html"}}
<div id="pageTop">
	<div class="tabs"> 
		<ul>
			<li><a href="{{U url="fguestbook/manage?catid=`$data.catid`"}}">返回列表</a></li>
			<li><a href="javascript:void(0);" class="selected" rel="tabsContent1">编辑留言</a></li>
		</ul>		
	</div>
</div>

<form method="post" action="{{U url='fguestbook/edit?dosubmit=1'}}" >
<div id="pageCo">
	<div class="manageForm">
		<table cellpadding="0" cellspacing="0" class="tabcontent" id="tabsContent1">
			<tbody>
				<tr>
			      <th style="width:100px;">访客昵称</th>
			      <td><input type="text" name="info[username]" class="required input" value="{{$data.username}}" style="width:200px;" /></td>
			      <th style="width:100px;">邮箱地址</th>
			      <td><input type="text" name="info[email]" class="email input" value="{{$data.email}}" style="width:200px;" /></td>
			    </tr>
			    <tr>
			      <th style="width:100px;">qq</th>
			      <td><input type="text" name="info[qq]" value="{{$data.qq}}" style="width:200px;" class="input"/></td>
			      <th style="width:100px;">主页地址</th>
			      <td><input type="text" name="info[homepage]" class="url input" value="{{$data.homepage}}" style="width:200px;" /></td>
			    </tr>
			    <tr>
			      <th>留言时间</th>
			      <td colspan="3">
			      	<script src="admin/Public/js/calendar/WdatePicker.js" language="javascript"></script>
					<input type="text" onfocus="WdatePicker({isShowClear:false,dateFmt:'yyyy-MM-dd HH:mm'})" name="info[addtime]" class="Wdate" value="{{if $data.addtime}}{{$data.addtime|date_format:"%Y-%m-%d %H:%M"}}{{else}}{{$smarty.now|date_format:"%Y-%m-%d %H:%M"}}{{/if}}">
					</td>
			    </tr>
			    <tr>
			      <th>标题</th>
			      <td colspan="3"><input type="text" name="info[title]" class="required input" value="{{$data.title}}" style="width:500px" /></td>
			    </tr>
			    <tr>
			      <th>留言内容</th>
			      <td colspan="3"><textarea name="info[content]" class="required textarea" style="width:80%; height:60px;">{{$data.content}}</textarea></td>
			    </tr>
			    <tr>
			      <th>回复</th>
			      <td colspan="3"><textarea name="info[reply]" class="textarea" style="width:80%; height:60px;">{{$data.reply}}</textarea></td>
			    </tr>
			    <tr>
			      <th>回复时间</th>
			      <td colspan="3">
			      	<script src="admin/Public/js/calendar/WdatePicker.js" language="javascript"></script>
					<input type="text" onfocus="WdatePicker({isShowClear:false,dateFmt:'yyyy-MM-dd HH:mm'})" name="info[replytime]" class="Wdate" value="{{if $data.replytime}}{{$data.replytime|date_format:"%Y-%m-%d %H:%M"}}{{else}}{{$smarty.now|date_format:"%Y-%m-%d %H:%M"}}{{/if}}">
					</td>
			    </tr>
			    <tr>
			      <th>审核</th>
			      <td colspan="3"><label><input type="radio" name="info[status]" value="0" {{if $data.status!=1}}checked{{/if}} />待审</label>
			      	  <label><input type="radio" name="info[status]" value="1" {{if $data.status==1}}checked{{/if}} />审核</label></td>
			    </tr>
			</tbody>
			<tfoot>
				<tr>
				  <th>&nbsp;</th>
				  <td>
				    <input type="hidden" name="forward" value="{{U url='fguestbook/manage'}}&catid={{$data.catid}}" />
				    <input type="hidden" name="info[id]" value="{{$data.id}}" />
				    <input type="hidden" name="_tablename" value="fguestbook" />
				    <input type="hidden" name="info[user_id]" value="{{$data.user_id}}" />
				    <input type="hidden" name="info[replyer]" value="{{$userData.username}}" />
				    <input type="hidden" name="catid" value="{{$data.catid}}" />
				    <label class="btn"><input type="submit" name="submit" value="确 定 " class="submit" /></label>
				    <label class="btn"><input type="reset" name="reset" value="重 置 " class="submit" /></label></td>
				</tr>
			</tfoot>
		</table>
	</div>	
</div>
</form>
{{include file="default/Public/footer.html"}}