{{include file="default/Public/header.html"}}
<div id="pageTop">
	<div class="tabs">
		<ul>
			<li><a href='{{U url="fmember/manage_model?moduleid=$moduleid"}}' {{if $action_name=="manage_model"}}class="selected" rel="tabsContent1"{{/if}}>管理模型</a></li>
			<li><a href='{{U url="fmember/add_model?moduleid=$moduleid"}}' {{if $action_name=="add_model"}}class="selected" rel="tabsContent1"{{/if}}>添加模型</a></li>
		</ul>		
	</div>
</div>

<form class="validate" action='{{U url="fmember/add_model?moduleid=$moduleid"}}' name="add_form" id="add_form" method="post">
<div id="pageCo">
	<div class="manageForm">
		<table cellpadding="0" cellspacing="0" class="tabcontent" id="tabsContent1">
			<tbody>
				<tr>
				    <th width="150">模型标识 *
				      <span>唯一,只可以输入字母、数字,长度2-20个字符.</span></th>
				    <td><input name="info[exttable]" rows="8" id="exttable" value="" class="required input" remote='{{U url="fmember/add_model?moduleid=$moduleid&ajax=check_tablename"}}' maxlength="20" title="[模型标识]必须填写，切不能重复" />
				      例如:detail</td>
				  </tr>
				  <tr>
				    <th>模型名称
				      <span>例如：普通会员、企业会员等</span></th>
				    <td><input name="info[name]" type="text" id="modelname" value="" class="required input" maxlength="10" minlenght="2" title="[模型名称]必须填写" /></td>
				  </tr>
				  <tr>
				    <th>模型说明
				      <span>模型用途说明</span></th>
				    <td><textarea name="info[description]" id="description"   maxlenth="200" title="[模型说明]不能超过200个字符" class="textarea" cols="50" rows="5"></textarea></td>
				  </tr>
				  <!--
				  <tr>
				    <th>所属模块
				      <span></span></th>
				    <td>{{php}}echo Html::select('info[moduleid]', $this->_tpl_vars['modules'],'','title="必须选择所属模块" class="required"'){{/php}}</td>
				  </tr>
				  -->
				  <tr>
				    <th>状态
				      <span></span></th>
				    <td>{{php}}echo Html::radio_group('info[status]',array(array('title'=>'启用','value'=>'1'),array('title'=>'禁用','value'=>'0')),1,'class="required" title="[状态]必选" ') {{/php}}</td>
				  </tr>
			</tbody>
			<tfoot>
				<tr>
				    <th>&nbsp;</th>
				    <td><input name="forward" type="hidden" value='{{U url="fmember/manage_model?moduleid=$moduleid"}}' />
				    	<input name="info[moduleid]" type="hidden" value="{{$moduleid}}" />
				    	<input name="info[extendable]" type="hidden" value="1" />
				        <label class="btn"><input type="submit" name="dosubmit" value="确 定 " class="submit" /></label>
				        <label class="btn"><input type="reset" name="reset" value="重 置 " class="submit" /></label></td>
				  </tr>
			</tfoot>
		</table>
	</div>	
</div>
</form>
{{include file="default/Public/footer.html"}}